.container
    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    background-color: white;
    grid-gap: 10px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 200%;
    text-align: center;
    }
/* title/help/slagbar */
#one
    {
    background-color: black;
    grid-column: 1/9;
    grid-row: 1;
    }
#help
    {
    background-color: black;
    grid-column: 1/9;
    grid-row: 1;
    grid-gap: 10px;
    font-size: 70%;
    }
#Flagbar
    {
    grid-column: 2/8;
    grid-row: 2;
    background-color: black;
    }

/*Left Cells */
#two
    {
    background-color: black;
    grid-column: 1/5;
    grid-row: 4;
    }
#three
    {
    background-color: black;
    grid-column: 1/5;
    grid-row: 5;
    }
#four
    {
    background-color: black;
    grid-column: 1/5;
    grid-row: 6;
    }
    
/* Information */
#five
    {
    background-color: black;
    grid-column: 1/5;
    grid-row: 7;
    }
#six
    {
    background-color: black;
    grid-column: 1/5;
    grid-row: 4;
    }
#seven
    {
    background-color: black;
    grid-column: 1/5;
    grid-row: 5;
    }
#eight
    {
    background-color: black;
    grid-column: 1/5;
    grid-row: 6;
    }
#nine
    {
    background-color: black;
    grid-column: 1/5;
    grid-row: 7;
    }
#ten
    {
    background-color: black;
    grid-column: 1/5;
    grid-row: 7;
    }
#eleven
    {
    background-color: black;
    grid-column: 1/5;
    grid-row: 7;
    }
#twelve
    {
    background-color: black;
    grid-column: 1/5;
    grid-row: 7;
    }